a:link{
    text-decoration:none;
    font-size:14px;
    font-family:'Segoe UI';
    font-style:normal;

}
a:hover{
    font-size:18px;
    color:greenyellow;
}
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}
.fb6 {
	border: 3px double #003DF5;
}
.label {
  color: white;
  padding: 15px;
  font-family: Arial;
}